{% extends 'base.html' %}

{% block content %}
<h1 class="fw-bold">USER INFO</h1>
<hr>
<div class="d-flex align-items-end">
    <img src={{ profile_path }} alt="profile image" class="img-responsive img-circle">
    <h2 class="fw-bold px-3">{{ user_info }}</h2>
    {% if request.user.is_authenticated %}
        {% if user_info == request.user %}
            <form action="{% url 'accounts:update' %}">
                <button class="btn p-0 mb-2 text-primary"><i class="fas fa-user-edit"></i></button>
            </form>
        {% else %}
            <form action="{% url 'accounts:follow' user_info.username %}" method="POST">
                {% csrf_token %}
                {% if is_following %}
                    <button class="btn p-0 mb-2 text-success"><i class="fas fa-user-check"></i></button>
                {% else %}
                    <button class="btn p-0 mb-2 text-secondary"><i class="fas fa-user-plus"></i></button>
                {% endif %}
            </form>
        {% endif %}
    {% endif %}
    <h5 class="my-2 mx-4 fw-bold">{{ followers_count }} followers</h5>
    <h5 class="my-2 mx-1 fw-bold">{{ followings_count }} followings</h5>
</div>
<hr>
<div class="container">
    <h4 class="fw-bold">Introduction</h4>
    <br>
    {% if user_info.introduction %}
        <p>{{ user_info.introduction }}</p>
    {% else %}
        <p class="text-secondary">자기소개가 아직 없습니다.</p>
    {% endif %}
    <br>
    <hr>
    <h4 class="fw-bold">Information</h4>
    <br>
    <h6>성 : {{ user_info.first_name }}</h6>
    <h6>이름 : {{ user_info.last_name }}</h6>
    <h6>E-mail : {{ user_info.email }}</h6>
</div>

<hr>
<a href="{% url 'community:index' %}">Index</a>
{% endblock %}